<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='betaalmail/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='betaalmail/style.css') }}">
    <title>{{ title }}{{ heading }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='betaalmail/script.js') }}"></script>
</head>
<body>
    <div class="links">
        <a href="javascript:shutDown()" class="shutdown monospace">[x]</a>
        <div class="nav">
        {% for tab in ['mailings', 'debug', 'queries', 'results', 'changelog'] %}
            {% if tab == heading %}
            <a href="{{ url_for('betaalmail.' + tab) }}" class="monospace selected">{{ tab }}</a>
            {% else %}
            <a href="{{ url_for('betaalmail.' + tab) }}" class="monospace">{{ tab }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="container flex">
        <div class="flex column area top-left-straight sidebar">
            <h1 class="brand">b€tAAlm@il</h1>
            <div class="flex column long pad">
                <h2>{{ heading }}</h2>
                <hr>
                <p class="indent">
                    Datum: {{ datum }}<br/>
                    Totaal verstuurd: {{ mailhistorie|length }}
                </p>
                <p class="indent">
                    <a href="https://github.com/uu-csa/mailing_betaling/blob/master/README.md" target="_blank">Link naar toelichting</a>
                </p>

                <h3>Zeef</h3>
                <p class="indent">
                    Laatste update:<br/>
                    <span class="monospace">{{ bron.mutatie_datum.max() }}</span>
                </p>
                <table class="indent" border="1">
                    <tbody>
                        <tr>
                            <td>Bron</td>
                            <td>{{ bron|length }}</td>
                        </tr>
                        <tr>
                            <td>Basis</td>
                            <td>{{ basis|length }}</td>
                        </tr>
                        <tr>
                            <td>Verzoek</td>
                            <td>{{ mailings_per_vti|length }}</td>
                        </tr>
                        <tr>
                            <td>Mailing</td>
                            <td>{{ mailings_per_student|length }}</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Issues</h3>
                {% if geen_mail %}
                <p class="indent">Geen mededeling gekoppeld:</p>
                <div class="indent">
                    {% for studentnummer in geen_mail %}
                    <form method="post" action="debug">
                        <button type="submit" name="studentnummer" value="{{ studentnummer }}" class="button button-small">
                        {{ studentnummer }}
                        </button>
                    </form>
                    {% endfor %}
                </div>
                {% endif %}
                {% if meer_mail %}
                <p>Meerdere mededelingen gekoppeld:</p>
                <div class="indent">
                {% for studentnummer in meer_mail %}
                    <form method="post" action="debug">
                        <button type="submit" name="studentnummer" value="{{ studentnummer }}" class="button button-small">
                        {{ studentnummer }}
                        </button>
                    </form>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="bottom flex justify center-items
                column">
                <a href="https://www.youtube.com/watch?v=q4Wu6Zw1fUc" class="icon">
                    <img src="{{ url_for('static', filename='betaalmail/noun_squid.svg') }}" width=48 alt="squid">
                </a>
                <a href="/changelog" class="monospace">version {{ version }}</a>
            </div>
        </div>

        <div class="flex wide area top-right-straight pad">
        {% block body %}{% endblock %}
        </div>
    </div>
</body>
</html>
