{% extends 'base.html' %}
{% block body %}

<div class="flex column">
    <h3>Parameters</h3>

    <div class="grid">
    {% for item, value in params.items() %}
        <h4 class="grid-item">{{ item }}</h4>
        {% if value is string or value is integer %}
        <p class="monospace grid-item"">{{ value }}</p>
        {% else %}
        <div class="grid-item">
            {% for element in value %}
            <ul>
                <li class="monospace">{{ element }}</li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

<div class="flex column wide">
    <h3>Queries</h3>
    <div class="queries long">
        <div class="flex tab">
            <button class="tablink" onclick="openQuery('bron', this)" id="defaultOpen">bron</button>
            <button class="tablink" onclick="openQuery('basis', this)">basis</button>
            <button class="tablink" onclick="openQuery('betaling', this)">betaling</button>
            <button class="tablink" onclick="openQuery('verzoek', this)">verzoek</button>
            <button class="tablink" onclick="openQuery('mailing', this)">mailing</button>
            <button class="tablink" onclick="openQuery('buitenzeef', this)">blok</button>
        </div>

        <div id="bron" class="tabcontent">
            <p><b>sql</b></p>
            {% for line in query_bron %}
                {{ line|replace('    ', '&emsp;')|safe }}<br/>
            {% endfor %}
        </div>
        <div id="basis" class="tabcontent">
            <p>
            {{ query_basis|join(' and<br/>')|safe }}
            </p>
        </div>
        <div id="betaling" class="tabcontent">
            {% for key, value in query_betaling.items() %}
            <p><b>{{ key }}</b></p>
            <p>{{ value|replace(' and', ' and<br/>')|safe }}</p>
            </br>
            {% endfor %}
        </div>
        <div id="verzoek" class="tabcontent">
            {% for key, value in query_verzoek.items() %}
            <p><b>{{ key }}</b></p>
            <p>{{ value|replace(' and', ' and<br/>')|safe }}</p>
            </br>
            {% endfor %}
        </div>
        <div id="mailing" class="tabcontent">
            {% for key, value in query_mailing.items() %}
            <p><b>{{ key }}</b></p>
            <p>{{ value|replace(' and', ' and<br/>')|safe }}</p>
            </br>
            {% endfor %}
        </div>
        <div id="buitenzeef" class="tabcontent">
            {% for key, value in query_buitenzeef.items() %}
            <p><b>{{ key }}</b></p>
            <p>{{ value|replace(' and', ' and<br/>')|safe }}</p>
            </br>
            {% endfor %}
        </div>

        <script>
            // Get the element with id="defaultOpen" and click on it
            document.getElementById('defaultOpen').click();
        </script>
    </div>
</div>

{% endblock %}
